sphinx==7.2.6
sphinx-rtd-theme
sphinx-autodoc-typehints
sphinx_design
sphinxsearch
scanpy
scikit-image
scikit-learn
statsmodels
scipy<1.12.0
numpy
pandas
pydeseq2
spatialde
matplotlib
adjustText
seaborn
tqdm
typing
numpydoc